body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
    overflow: hidden;
}

header{
    display: flex;
    justify-content: space-between;
    width: 100vw; height: 10vh;
    background-color: #59BB5D;
}

footer{
    width: 100vw;
    height: 10vh;
    background-color: #59BB5D;
}

#pag_inicial{
    width: 100vw;
    height: 80vh;
    background-color: #E9E9E9;
}

#background_relatorio{
    /*display: none;*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: #00000080;
}

#pag_relatorio{
    width: 90vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#corpo_relatorio{
    width: 100vw;
    height: 80vh;
    background-color: #E9E9E9;
}
